#header-logo {
  background-image: url("https://www.datacom.co.nz/Datacom/media/Digital-Assets/Logo/datacom-logo-refresh.png?width=190&height=40&ext=.png");
  width: 190px;
  height: 40px;
}
.contextselector-pf .bootstrap-select>.dropdown-toggle{background:0 0;border:0;box-shadow:none!important;color: #000000;padding-bottom:20px;padding-left:10px;padding-top:20px;}
.navbar-pf-vertical .nav .nav-item-iconic .caret,.navbar-pf-vertical .nav .nav-item-iconic .fa,.navbar-pf-vertical .nav .nav-item-iconic .fab,.navbar-pf-vertical .nav .nav-item-iconic .fal,.navbar-pf-vertical .nav .nav-item-iconic .far,.navbar-pf-vertical .nav .nav-item-iconic .fas,.navbar-pf-vertical .nav .nav-item-iconic .pficon{color: #000000;font-size:16px;position:relative;}
.navbar-pf-vertical{background-color: #FFFFFF;border-bottom: #FFF;border-top:none;min-height:0;}
.nav-pf-vertical{background-color: #424242;top:41px;z-index:990;}
